asciitree==0.3.3
astroid==3.3.5
black==24.10.0
bytecode==0.13.0.dev0
bytecode==0.15.1
coverage==7.6.5
hypothesis==6.122.3
jellyfish==1.1.2
Jinja2==3.1.4
libcst==1.5.1
networkx==3.4.2
numpy==2.2.0
Pygments==2.18.0
pytest==8.3.3
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
rich==13.9.4
setuptools==75.1.0
simple_parsing==0.1.6
typing_extensions==4.12.2
typing_inspect==0.9.0
pipreqs==0.5.0
pynguin==0.41.0.dev0